anyio 
asgiref 
cachecontrol 
certifi
cffi 
charset-normalizer 
cryptography 
django 
firebase-admin 
google-api-core 
google-auth 
google-cloud-core 
google-cloud-firestore 
google-cloud-storage 
google-crc32c 
google-resumable-media 
googleapis-common-protos 
grpcio-status 
grpcio 
gunicorn 
h11 
h2 
hpack 
httpcore 
httpx 
hyperframe 
idna 
msgpack 
packaging
proto-plus 
protobuf 
psycopg2-binary
pyasn1-modules 
pyasn1 
pyjwt 
python-dotenv 
requests 
rsa 
sqlparse 
typing-extensions 
tzdata 
urllib3
